<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet" />
    <style type="text/css">
    
    .col-sm-4{
    	padding-left:10px !important;
    	padding-right:10px !important;
    }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  	<!-- <img src="/pms/resources/theme1/image/logo-black-sm.png" alt="..." class="img-fluid"/> -->
    <a class="navbar-brand" href="#">FINTECH WIZARD TEST SUITE</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
	
    </div>
  </nav>
  <div class="container-fluid" style="padding-left:0px;padding-right:0px">
	<br><br>
	<div class="card">
		 <div class="card-header">
          <i class="fa fa-fw fa-link"></i> Modes For Testing Feedback Analysis Tool </div>
			<div class="card-body">
			<div class="row">
				  <div class="col-sm-6">
				    <div class="card">
				      <div class="card-body" style="padding-bottom: .80rem;">
				        <h6 class="card-title">Load Feedback Source File</h6>
				        <p class="card-text"><small class="text-muted">Test our tool by uploading feedback file from here</small></p>
				        <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
							    <input class="btn btn-sm btn-primary" type="file" name="files" multiple/><br/><br/>
							    <input class="btn btn-sm btn-primary" type="submit" value="Upload" id="btnSubmit"/>
							</form>
							<br><br>
							<h6 class="card-title">File Upload Status:<span id="result"></span></h6>
							<br>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card">
				      <div class="card-body" style="padding-bottom: .25rem;">
				        <h6 class="card-title">Load Your Feedback/Comments</h6>
				        <p class="card-text"><small class="text-muted">Provide your feedback here and see our tool will judge whether you feel positive, negative or neutral</small></p>
				             <form method="POST" id="feedbackUploadForm" name="feedbackUploadForm">
				                <label for="feedback">Comments/Feedback</label>
				                <textarea class="form-control" id="feedback" name="feedback" type="text" rows="3" placeholder="Enter your Feedback"></textarea><br>
				                <input class="btn btn-sm btn-primary" type="submit" value="Post" id="btnFeedbackSubmit"/>
				             </form>
				              <h6 class="card-title">Feedback Upload Status:<span id="feedbackLoadResult"></span></h6>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="row" style="margin-top: 15px;">
				  <div class="col-sm-4">
				    <div class="card">
				      <div class="card-body" style="padding-bottom: .25rem;">
				        <h6 class="card-title">Load System Generated Positive Feedback</h6>
				        <p class="card-text"><small class="text-muted">Upload Positive feedback file generated by system</small></p>
							    <input class="btn btn-sm btn-primary" type="submit" value="Generate Positive Feedback" id="btnFeedbackSubmitPositive"/>
							<h6 class="card-title">Positive Feedback Upload Status:<span id="positivefeedbackLoadResult"></span></h6>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-4">
				    <div class="card">
				      <div class="card-body" style="padding-bottom: .25rem;">
				        <h6 class="card-title">Load System Generated Negative Feedback</h6>
				        <p class="card-text"><small class="text-muted">Upload negative feedback file generated by system</small></p>
				                <input class="btn btn-sm btn-primary" type="submit" value="Generate Negative Feedback" id="btnFeedbackSubmitNegative"/>
				              <h6 class="card-title">Negative Feedback Upload Status:<span id="negativefeedbackLoadResult"></span></h6>
				      </div>
				    </div>
				  </div>
				   <div class="col-sm-4">
				    <div class="card">
				      <div class="card-body" style="padding-bottom: .25rem;">
				        <h6 class="card-title">Load System Generated Neutral Feedback</h6>
				        <p class="card-text"><small class="text-muted">Upload neutral feedback file generated by system</small></p>
				                <input class="btn btn-sm btn-primary" type="submit" value="Generate Neutral Feedback" id="btnFeedbackSubmitNeutral"/>
				              <h6 class="card-title">Neutral Feedback Upload Status:<span id="neutralfeedbackLoadResult"></span></h6>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	
</div>

<script type="text/javascript"
        src="js/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
